@model CourtHouse.Models.Beneficiary

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container text-right">
    <div class="row">
        <div class="col-7">
            <h1 class="text-right col-10">@Model.person.firstName  @Model.person.lastName</h1>
        </div>
        <div class="col-1">
            @if (User.IsInRole("Admin") && Model.isChecked == true)
            {
                <form asp-action="Edit">
                    <input type="hidden" asp-for="id" />
                    <input type="hidden" name="check" value="UnChecked" />
                    <input type="submit" class="btn btn-info" value="غير مدقق" />
                </form>
            }
        </div>
        <div class="col-1">
            @if (User.IsInRole("Checker") && Model.isChecked == false)
            {
                <form asp-action="Edit">
                    <input type="hidden" asp-for="id" />
                    <input type="hidden" name="check" value="Checked" />
                    <input type="submit" class="btn btn-info" value="مدقق" />
                </form>
            }
        </div>
        <div class="col-3">
            <a asp-action="Edit" asp-route-id="@Model.id" asp-route-ckeck="0" class="btn btn-success">تعديل</a> |
            <a asp-action="Details" asp-controller="Issues" asp-route-id="@Model.realtyContract.id" class="btn btn-warning">رجوع</a> |
            <a asp-action="Delete" asp-route-id="@Model.id" class="btn btn-danger">حذف</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <span style="font-size:x-large">
                <b>الصفة</b>:@Model.typePerson
                <b>الحصة السهمية</b>:@Model.period
                <b>طريقة التواصل</b>:@Model.waysToCommunicate.wayName
                <b>تاريخ الجلسة</b>:@Model.SessionDate
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table border="1" class="text-center col-12">
                <tr>
                    <th>الاسم</th>
                    <td>@Model.person.firstName</td>
                    <th>الكنية</th>
                    <td>@Model.person.lastName</td>
                    <th>اسم الأب</th>
                    <td>@Model.person.fatherName</td>
                    <th>اسم الأم</th>
                    <td>@Model.person.motherName</td>
                </tr>
                <tr>
                    <th>مكان الولادة</th>
                    <td>@Model.person.placeOFBirth</td>
                    <th>تاريخ الميلاد</th>
                    <td>@Model.person.dateOfBirth</td>
                    <th>المحافظة</th>
                    <td>@Model.person.region.regionName</td>
                    <th>الرقم الوطني</th>
                    <td>@Model.person.idNumber</td>
                </tr>
                <tr>
                    <th>رقم المبايل</th>
                    <td>@Model.person.mobile</td>
                    <th>الهاتف</th>
                    <td>@Model.person.phone</td>
                    <th>الإيميل</th>
                    <td colspan="3">@Model.person.emailAddress</td>
                </tr>
            </table>
            <div class="row">
                <div class="col-4">
                    <img src="~/PersonImages/@Model.person.personImage" class="img-thumbnail" />
                </div>
                <div class="col-4">
                    <img src="~/PersonImages/@Model.person.identityImageFront" class="img-thumbnail" />
                </div>
                <div class="col-4">
                    <img src="~/PersonImages/@Model.person.identityImageBack" class="img-thumbnail" />
                </div>
            </div>
        </div>
    </div>
    <div class="row text-left">
        <br />

    </div>
</div>
