@model IEnumerable<CourtHouse.Models.WaysToCommunicate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                طريقة الدفع
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" style="color: #17a2f8"><i class="bi bi-pencil"></i></a> |
                <a asp-action="Details" asp-route-id="@item.id" style="color: #17a2f8"><i class="bi bi-eye"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.id" style="color: #17a2f8"><i class="bi bi-x-circle"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
